<!-- added id so ican use this to delte post -->
<div class="postcard" id="post-<%=post._id%>">        
    <div class="postcontent">

     <!-- now if user is signed in and and if signed user id == post . populateduser.id  
      if i dont put check delete btn is shown to every user without sign in  
       if i dont put second check then mrjohn can see this btn in anyone post 
       example mrjohn is signed in then btn is shown to his posts made not only this
       btn is available on other post also like in victor post   -->


       <% if  (locals.user && locals.user.id == post.user.id ) { %>

        <!-- //same .id handle by mongoose i could do _id aswell -->  
        <p><a class="delete-post-button" href="/post/deletepost/<%=post.id%>">x</a></p>
        
        <%}%> 
        <p><%=post.content%></p>
        <p class="uname">postBy:<%=post.user.name%></p>   
    </div>
      <div class="commentform">
    <% if (locals.user){%>
        <form action="/comment/createcomment" id="post-<%= post._id %>-comments-form"  method="post">
            <input type="text" placeholder="write ur cmt" name="content">
            <!-- now we also need the send the post id for the comment to save in post: so we send
             sent it here using hidden so when i click submit content,post will wrap in body and 
             available at controller in req.body ={content: kkjk,post:difjdk}
            -->
            <input type="hidden" name="post" value="<%=post._id%>" >                         
            <input type="submit" value="comment" >
         </form>

        <%}%>

       <div class="post-comments-list">
       <ul id="post-comments-<%=post._id%>">
        <% for(comment of post.comments){%>
            
            <%- include('_comment') -%>
          
            <%}%>
       </ul>
       </div>


      </div>
      
      <div>
      <% if (locals.user){ %>  
        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/like/toggle/?id=<%=post._id%>&type=Post">
                <%= post.likes.length %> Likes
        </a>
    <% }else{ %>
       <p id="alllikes" > <%= post.likes.length %> Likes</p>
    <% } %>

  </div>

    </div>


  