
<link rel="stylesheet" href="<%=locals.assetPath('css/home.css')%>">
<div class="maincontainer">
    
        <div class="content">
            <h1>codeial/homepage</h1>
            <%if(locals.user){%>
            <form action="/post/createpost" id="new-post-form" method="post">
                <textarea name="content"  cols="30" rows="3"></textarea>
                <input type="submit" value="post">
                </form>
                <%}%>
        </div>
 

    <div class="right">
      
        <!-- is user is loged in  -->
       <%if (locals.user){%>
        <div id="friends">
            <h2>friends</h2>
            <% for (f of cuser.friends) {%>
            
                <!-- //link to the profile of user -->
                   <div class="chip">

                    <!-- now login user is in local and and current user is send from home controller cuser
                        with populated freind array field 
                    iterating over all the friend documents  [{touser:{}},{from_user{}},{touser:{},from_user{} }]
                    and we know now the every user either can recived req and or sent req
                    so wherever loggedinuser is not present either in touser or fromuser then that filed is containign 
                    friend of this logeedinuser 

                    basicllay in aray of freinds this logedin user must be present in one of the field 
                    that is eitehr to_user (receive req) so freind is present in from_user
                    or  from_user(sent req)  so freind is present in to_user
                    -->
                    <% if  (locals.user.id != f.to_user.id ) { %>
                     <p><img src="<%=f.to_user.avatar%>" alt="no image" ><%=f.to_user.name%> </p>

                    <%}%>

                    <% if  (locals.user.id != f.from_user.id ) { %>
                        <p><img src="<%=f.from_user.avatar%>" alt="no image"><%=f.from_user.name%> </p>
   
                       <%}%>



                     <% if  (locals.user && locals.user.id == cuser.id ) { %>
                        <p><a href="/friend/deletefriend/<%=f._id%>"><i class="fas fa-trash"></i></a></p>  
                        <%}%> 
                    </div> 
                
                <%}%>
        </div>

      <%}%>
        <div class="users">
            <h2>Users</h2>
            <% for (u of all_users) {%>
            
            <!-- //link to the profile of user -->
            <div class="chip"> <p><span><i class="fas fa-user"></i></span><a href="/user/userprofile/<%=u.id%>" class="userfriend"><%=u.name%></a> </p> </div> 
            
            <%}%>
        </div>

    </div>

    
</div>
    
    <section>
    
        <div id="post-container" class="post">
            <%for(post of posts){%>
             
             <%- include('_post')  -%>
    
            <%}%>
            </div>
    </section>

    <%if(locals.user){%>
    <%- include('chatengine');%>
    <%}%>


<script src="<%=locals.assetPath('js/home_post.js')%>"></script>
<script src="<%=locals.assetPath('js/post_comment.js')%>"></script>
<script src="<%=locals.assetPath('js/mylike.js')%>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
         console.log("iam in script");
         new ToggleLike(self);
    });
</script>


<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"
></script>



<!-- cdn of socket.io basically getting library of socket.io at frontend -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<!-- this chat_engine.js is the file communicating from the client side (user on the brower) -->
<!-- and socket.js in config folder wil communicate from server side  bascially the observer -->
<script src="<%=locals.assetPath('js/chat_engine.js')%>"></script>  


<!-- creating a object of chatengine class only if user is signin we dont want random user to send msg -->
<%if(locals.user){%>
<script>

 //creating new object passing the chatbox id and user email   
new chatEngine('chatcontainer','<%=locals.user.email%>','<%=locals.user.name%>');
</script>
<%}%>