
<link rel="stylesheet" href="/css/home.css">
<section >
    <div class="content">
        <h1>codeial/homepage</h1>
        <%if(locals.user){%>
        <form action="/post/createpost" method="post">
            <textarea name="content"  cols="30" rows="3"></textarea>
            <input type="submit" value="post">
            </form>
            <%}%>
    </div>
</section>

<section>

    <div class="post">
        <%for(post of posts){%>
        <div class="card">
        <div class="postcontent">

         <!-- now if user is signed in and and if signed user id == post . populateduser.id  
          if i dont put check delete btn is shown to every user without sign in  
           if i dont put second check then mrjohn can see this btn in anyone post 
           example mrjohn is signed in then btn is shown to his posts made not only this
           btn is available on other post also like in victor post   -->


           <% if  (locals.user && locals.user.id == post.user.id ) { %>

            <!-- //same .id handle by mongoose i could do _id aswell -->  
            <p><a href="/post/deletepost/<%=post.id%>">x</a></p>
            
            <%}%> 
            <p><%=post.content%></p>
            <p class="uname">postBy:<%=post.user.name%></p>   
        </div>
          <div class="commentform">
        <% if (locals.user){%>
            <form action="/comment/createcomment" method="post">
                <input type="text" placeholder="write ur cmt" name="content">
                <!-- now we also need the send the post id for the comment to save in post: so we send
                 sent it here using hidden so when i click submit content,post will wrap in body and 
                 available at controller in req.body ={content: kkjk,post:difjdk}
                -->
                <input type="hidden" name="post" value="<%=post._id%>" >                         
                <input type="submit" value="comment" >
             </form>

            <%}%>

           <div class="post-comments-list">
           <ul id="post-comments-<%=post._id%>">
            <% for(comment of post.comments){%>
<!-- 
             similar to post if user is signed in and also the signed in user id (local.user.id) must be equal
             to  received comments in post.comment[{ now populated}] (comment.user.id) 
             this tells to show x onlly on those comments which are made by signed in user -->


              <% if (locals.user && locals.user.id ==comment.user.id){  %>
                
              <p><a href="/comment/deletecomment/<%=comment.id%>">x</a></p>  
              <%}%>
             <p><%=comment.content%></p>
             <p class="cmtuser">cmnt by:<%=comment.user.name%></p>
              
                <%}%>
           </ul>
           </div>


          </div>

        </div>
        <%}%>
        </div>
</section>
