
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <script src="https://kit.fontawesome.com/0dadbc0850.js" crossorigin="anonymous"></script>
     
    <!-- noty css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
      <!-- noty js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    

  <!-- jquery cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- here css of different sub webpages will linked -->
    <%- style %>

</head>
<body>

<%- include('_header');%>

                                <!-- without noty -->
<!-- accesing the flash message sent from middleware to locals -->
<!-- if there is success type return and and  message string is not emptty is there  -->
<!-- <% if(flash.success && flash.success.length>0) { %>
    <h1 style="color:black"><%=flash.success%></h1>
 <%}%>  -->

 <%- body%>       

<%- include('_footer');%>


                          <!-- flash with noty  -->

  <!-- add my own <script> tag for noty for flash mesages -->
  <script>

<% if(flash.success && flash.success.length>0) { %>
 
    new Noty({
        theme:'relax',                //type of noty theme 
        text: '<%=flash.success%>',         //mesage text
         type: 'success',                        //color scheme 
         layout: 'topRight',                      //position of flash message 
         timeout: '1500'                           //time till we want to show flash  1500 milisec
         

         

}).show();


 <%}%> 

  </script>                        


</body>
</html>